<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/base.css">


<footer>


    <div class="logo_address">
        <div class="logo">
            <a href="" class="logo"><img src="/static/images/logo-no-background.png" alt=""></a>

        </div>
        <div class="address">
            <address>
                GreenClean <br>
                Dharan-5,Sunsari <br>
                Post Box Number:44600 <br>
                green_clean@gmail.com
            </address>

        </div>

    </div>
    <div class="navbar_content">
        <h3>Shortcuts</h3>
        <ul>
            <li> <a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'awareness' %}">Awareness</a></li>

            <li><a href="{% url 'service' %}">Donate</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>

    </div>
    <div class="login_and_icons">
        <div class="icons">
            <h3>Follow Us</h3>
            <i class="fa-brands fa-facebook icon1"></i>
            <i class="fa-brands fa-youtube icon2"></i>
            <i class="fa-brands fa-twitter icon3"></i>

        </div>
        <div class="logins">
            <p class="login">Login</p>
            <i class="fa-solid fa-user icon4"></i>
        </div>

    </div>
</footer>
<div class="last-line">
    &copy;All right reserved
</div>
<script src="/static/script.js"></script>